@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Raleway, sans-serif;
    background: white;
}

header {
    display: flex;
    align-items: center;
    background: greenyellow;
    height: 30%;
    font-size: 200%;
    padding: 30px;
    letter-spacing: 5px;
    border-bottom: 3px black solid;
}

#flex-container {
    display: flex;
    justify-content: center;
}

#checklist-box {
    border: 3px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex: 0 1 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#textbox {
    height: 2.5em;
    margin: 10px 10px auto 10px;
    border: 3px solid black;
    border-radius: 15px;
    font-size: 2em;
    padding: 0.5em;
}

#buttons {
    display: flex;
    flex-direction: row;
    user-select: none;
}

.button {
    height: 2.5em;
    width: 33%;
    margin: 2%;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    cursor: pointer;
}

#add-btn {
    background: lightgreen;
}

#clear-btn {
    background: rgb(63, 138, 236)
}

#delete-all-btn {
    background: rgb(255, 93, 93)
}

#item-list {
    display: flex;
    flex-direction: column;
    margin: auto 1em 1em 1em;
    border: 3px solid black;
    border-radius: 15px;
    list-style: none;
}

#item-list li {
    font-size: 1.5em;
    padding: 10px;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#item-list li:last-child {
    border-bottom: none;
}

#item-list li .checkbox {
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    width: 1.5em;
    height: 1.5em;
}

.unchecked {
    background: white;
}

.checked {
    background: url(check.png) center no-repeat;
    background-size: 1.3em;
}

@media only screen and (max-width: 972px) {
    .button {
        font-size: 16px;
    }
}

@media only screen and (max-width: 810px) {
    .button {
        font-size: 13px;
    }
}